#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#login-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#login-form input {
width: 50%;
}


@media (min-width: 768px) {
  #registration-form input {
    width: 50%;
  }
  #login-section {
    padding: 5rem;
  }
}