#render-posts {
    display:grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.post-element {
    display: flex;
    flex-direction:  column;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f5f5f5;
    cursor: pointer;
}

.image-wrapper {
height: 100%;
width: 100%;
}

.image {
    width: 10rem;
    height: auto;
}


.time-comments-reactions-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.post-title {
    font-size: 1.2rem;
    font-weight: 600;
}

#add-comment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#comment-text {
    width: 100%;
    min-height: 8rem;
    line-height: 1.5rem;
    box-sizing: border-box;
}
.comments-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    border: 2px solid red;
}

.avatar-image-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}
.avatar-image-wrapper img {
    height: 100%;
    width: auto;
    max-width: 3rem;
    border-radius: 0.3rem;
}
.avatar-image-wrapper {
    background-color: white;
    display: flex;
    padding-left: 1rem;
}
.textarea {
    resize: vertical;
}