#registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.add-optional-image-alt-container {
  display: flex;
  flex-direction: column;
}