#registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#registration-form input {
  width: 65%;
}

.add-optional-image-alt-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  #registration-form input {
    width: 50%;
  }
  .register-section {
   padding: 5rem;
  }
}
