@import url(login.css);
@import url(register.css);
@import url(messages.css);
@import url(index.css);
@import url(one-post.css);

:root {
  --background-error: #f8c6c6;
  --text-error: #880000;
  --background-warning: #ffe1bf;
  --text-warning: #995200;
  --background-success: #cdf2ca;
  --text-success: #096800;
}

body {
  background-color: rgb(214, 214, 214);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(48, 38, 29);
}

.hidden {
  display: none;
}
