@import url(login.css);
@import url(register.css);
@import url(messages.css);
@import url(index.css);
@import url(one-post.css);

:root {
  --background-error: #f8c6c6;
  --text-error: #880000;
  --background-warning: #ffe1bf;
  --text-warning: #995200;
  --background-success: #cdf2ca;
  --text-success: #096800;
}

body {
  background-color: rgb(182, 196, 199);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(10, 10, 10);
}

.hidden {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  max-width: 70rem;
  justify-self: center;
}

input,
textarea {
  padding: 0.2rem;
  border-radius: 0.3rem;
  border: none;
}

button {
  padding: 0.5rem;
  width: fit-content;
  justify-self: center;
  align-self: center;
  border: none;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
  background-color: rgb(3, 73, 121);
  font-weight: 400;
}



button:disabled {
  background-color: rgb(108, 107, 109);
  cursor:not-allowed;
}
details {
  list-style: none;
  word-wrap: break-word;
}

fieldset {
  background-color: white;
  padding: 1rem;
  border-radius: 0.3rem;
  border: none;
}

legend {
  list-style: none;
  background-color: white;
}
